{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense.io</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/logout.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="logo"><a href="{% url 'core:index' %}">Expense.io</a></div>
        <div class="profile">
                <a href="{% url 'users:register' %}">Register</a>
                <a href="{% url 'users:login' %}">Login</a>
        </div>
    </div>
    <div class="main">
        <p>You have been logged out. Thank you for visiting!</p>
    </div>
</body>
</html>