<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% if form.errors %}
        <p>Your username or password is incorrect. Please try again!</p>
    {% endif %}
    <form action="{% url 'users:login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
        <input type="hidden" name="next" value="{% url 'core:index' %}">
    </form>
</body>
</html>