{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="body">
        <div class="form-container">
            <div class="logo">
                Expense.io
            </div>
            <p class="header">Login to your Account</p>
            <p class="subtitle">Track your expenses easily</p>
            {% if form.errors %}
                <p class="error">Your username or password is incorrect. Please try again!</p>  
            {% endif %}
            <form action="{% url 'users:login' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Login">
                <input type="hidden" name="next" value="{% url 'core:index' %}">
            </form>
            <p class="call">Don't have an account? <span><a href="{% url 'users:register' %}">Signup</a></span></p>
        </div>
        <div class="image"></div>
    </div>
</body>
</html>